<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="components/sobre.css">
    <link rel="stylesheet" href="components/menu.css">
    <link rel="stylesheet" href="components/main.css">
    <link rel="stylesheet" href="components/reset.css">
    <link rel="stylesheet" href="components/button-arrow.css">
    <link rel="stylesheet" href="components/main-section.css">
    <link rel="stylesheet" href="components/main-description.css">
    <link rel="stylesheet" href="components/main-carousel.css">
    <link rel="stylesheet" href="components/node-card.css">
    <link rel="stylesheet" href="components/title.css">
    <link rel="stylesheet" href="components/card-project.css">
    <link rel="stylesheet" href="components/main-img.css">
    <link rel="stylesheet" href="components/mapa-home.css">
 

    <title>Sobre Grupo IBRAP</title>
</head>
<body>
    <header class="header-container"> 
        <div class="header">
            <div class="checkbox-container">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="toggle">
                    <label class="checkbox" for="toggle">
                        <div class="trace"></div>
                        <div class="trace"></div>
                        <div class="trace"></div>
                    </label>
                    <div class="menu"></div>
                    <nav class="menu-itens">
                    <ul>
                        <li>
                            <a href="http://127.0.0.1:5501/views/index.html" target="_blank">Início</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5501/views/sobre.html" target="_blank">Sobre Nós</a>
                        </li>
                    </ul>
                    </nav>
               </div>
           </div>
       </div>
       <h1>Conheça o Grupo IBRAP</h1>
    </header>
    <main class="container">
        <div class="card-container">
            <div class="card">
            </div>
            <dv class="card-text">
                <h1>Uma história de solidez</h1>
                Com a criação de produtos em plástico, alumínio e PVC, o Grupo IBRAP construiu uma grande história pautada na competência, oferecendo segurança certificada e alta qualidade.
            </dv>

        </div>
    </main>
    <section class="main-section -bgsecond -bdblack">
        <h2 class="main-title -second">Linha do tempo</h2>
         <section class="main-carousel">
            <button class="button-arrow -left"><span class="content">Voltar</span></button> 
            <figure class="node-card">
              <figcaption class="title">1970-2000</figcaption>
              <img class="logo" src="../assets/img/sobre1970-2000.jpg" alt="">
            </figure>
      
            <figure class="node-card">
              <figcaption class="title">2001-2012</figcaption>
              <img class="logo" src="../assets/img/2001-2012.jpg" alt="">
            </figure>
      
            <figure class="node-card">
              <figcaption class="title">2016-2021</figcaption>
              <img class="logo" src="../assets/img/2016-2021.jpg" alt="">
            </figure>
      
            <button class="button-arrow -right"><span class="content">Avancar</span></button>
          </section>
          <p class="main-description">
            A história do Grupo IBRAP teve início em abril de 1979, momento em que foi fundada a ESAF (Esquadrias de Alumínio Fornasa), com 50 m² de área e contando com três colaboradores.
          </p>
          <br>
          <p class="main-description">
            Em 2001, iniciou a produção de lâminas e bobinas em PET reciclado, ecologicamente correta e sendo pioneira no processamento e reciclagem PET no Brasil.
          </p>
          <br>
          <p class="main-description">
            Em 2016, adquiriu uma empresa japonesa de esquadrias de alto padrão na cidade de Sorocaba.
          </p>
        </section>

     <div class="main-img">
         <img class="logo01" src="../assets/img/img01-1.png" alt="">
          <div class="main-logo">
            <img class="logo02" src="../assets/img/Logo_Grupo_IBRAP.png" alt="">
                <div class="logo">
                 <a href="https://www.ibrap.com.br/" target="_blank" rel="noopener noreferrer">
                    <img class="logo03" src="../assets//img/ibrap.png" alt="imagem ibrap">
                </a>
                <a href="https://www.claris.com.br/" target="_blank" rel="noopener noreferrer">
                  <img class="logo03" src="../assets//img/claris.png" alt="imagem claris">
                </a>
                <a href="http://autemsistemas.com.br/" target="_blank" rel="noopener noreferrer">
                    <img class="logo03" src="../assets/img/autem.png" alt="imagem autem">
                </a>
                <a href="https://esafesquadrias.com.br/" target="_blank" rel="noopener noreferrer">
                    <img class="logo03" src="../assets/img/esaf.png" alt="imgem esaf">
                </a>
               </div>
            </div>
            <dv class="card-text">
                 Consolidada em um Grupo que abrange quatro grandes marcas, 
                 a empresa é reconhecida por sua excelência na criação de produtos em plástico,
                 alumínio e PVC.
                
            </dv>
        </div>

        <div class="mapa-home">
            <div  class="card-text">
                <h1>Nossas Unidades</h1>
                 Por sua atuação nacional, o Grupo IBRAP possui quatro unidades produtivas espalhadas pelo Brasil.
            </div>
            <img src="../assets/img/mapa-home-1.jpg" alt="">
        </div>
    
</body>
</html>